.text-center {
  text-align: center;
}

.pad-top-bot-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  //height: 100%;
}

.error-message {
  color: var(--ion-color-danger);
}

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

