<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title class="bar-title">Início</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-row>
  <ion-col class="mg-top-m20" size-md="10" size-lg="10" size-xs="12" offset-md="2" offset-lg="2" offset-xl="1">
    <ion-fab vertical="top" horizontal="end" edge>
      <ion-fab-button (click)="goToNewTravel()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </ion-col>
</ion-row> -->

<ion-content ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToNewTravel()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row *ngIf="items" class="mg-top-20">
    <ion-col size-md="10" size-lg="10" size-xs="12" offset-md="2" offset-lg="2" offset-xl="1">
      <div *ngIf="items.length > 0">
        <ion-list no-lines>
          <ion-card *ngFor="let item of items"
            (click)="openTravelMaintain(item.payload.doc.id, item.payload.doc.data())">
            <ion-item>
              <ion-label>
                <h2>{{item.payload.doc.data().name}}</h2>
                <h5 style="padding-bottom: 10px;">Aqui vai entrar o Nome do Viajante</h5>
                <p>{{item.payload.doc.data().startDate}} até {{item.payload.doc.data().endDate}}</p>
              </ion-label>
              <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-list>
      </div>

      <div *ngIf="items.length == 0" class="empty-list text-center pad-top-40">
        <h1>
          <ion-icon name="paper-plane-sharp"></ion-icon>
        </h1>
        Parece que não temos nenhuma viagem compartilhada por aqui!
      </div>
    </ion-col>
  </ion-row>
</ion-content>