<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Super Tabs</ion-title>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-icon name="paper"></ion-icon>
      <ion-label>News</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="contact"></ion-icon>
      <ion-label>Account</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-content>
        <ion-nav [root]="dailyItemsPage" #newsNav></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="dailyActivityPage"></ion-nav>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>