.text-center {
  text-align: center;
}

.pad-top-bot-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pad-top-40 {
  padding-top: 40px;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  //height: 100%;
}

empty-list {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  color: var(--ion-color-medium);
}

.font-30 {
  font-size: 30px;
}