<ion-content padding>
  <ion-row padding justify-content-center class="magin-top-60 center">
    <ion-col align-self-center size-md="10" size-lg="10" size-xs="12" size-xs="12" offset-md="2" offset-lg="2" offset-xl="1">
      <!-- <ion-card class="pad-top-bot-40"> -->
      <ion-row padding justify-content-center class="center">
        <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">
          <div class="text-center">
            <ion-icon class="icon-font" color="secondary" name="paper-plane-sharp"></ion-icon>
            <h2>
              <ion-title class="app-name" color="secondary">Tinus Planner</ion-title>
            </h2>
          </div>
        </ion-col>
      </ion-row>
      <form [formGroup]="validationsForm" (ngSubmit)="tryLogin(validationsForm.value)">
        <ion-grid>
          <ion-row padding justify-content-center class="center">
            <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.email">
                  <div class="error-message"
                    *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row padding justify-content-center class="center">
            <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">
              <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.password">
                  <div class="error-message"
                    *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row padding justify-content-center class="center">
            <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">
              <ion-button color="primary" expand="block" class="btn-heigth" type="submit">Entrar
              </ion-button>
            </ion-col>
            <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">
              <div class="ion-text-center">
                ou
              </div>
            </ion-col>
            <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">
              <ion-button color="secondary" expand="block" class="btn-heigth" (click)="goRegisterPage()">Criar conta
              </ion-button>
              <label class="error-message">{{errorMessage}}</label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <!-- </ion-card> -->
    </ion-col>
  </ion-row>
</ion-content>