<ion-tabs>
  <ion-tab-bar slot="botton">

    <!-- <ion-tab-button tab="travel-list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Viagens</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="travel-new">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Viagem</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="travel-roadmap-list">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Roteiro</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


