    <ion-tabs>
      <ion-tab-bar slot="botton">
        <ion-tab-button tab="roadmap-new">
          <ion-icon name="compass-outline"></ion-icon>
          <ion-label>Cidade</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="guide-list">
          <ion-icon name="reader-outline"></ion-icon>
          <ion-label>Atividade</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="guide-list">
          <ion-icon name="today-outline"></ion-icon>
          <ion-label>Roteiro</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>