<ion-content padding class="form-content">

  <ion-content padding class="form-content">
    <ion-row padding justify-content-center class="center">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <!-- <ion-card class="pad-top-bot-40"> -->
        <ion-row padding justify-content-center class="center">
          <ion-col align-self-center size-md="6" size-lg="6" size-xs="12">
            <div class="text-center">
              <h2>
                <ion-icon name="paper-plane-sharp"></ion-icon> Criar conta
              </h2>
            </div>
          </ion-col>
        </ion-row>
        <form [formGroup]="validationsForm" (ngSubmit)="tryRegister(validationsForm.value)">
          <ion-grid>
            <ion-row justify-content-center class="center">
              <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">

                <ion-item>
                  <ion-label position="floating">Nome</ion-label>
                  <ion-input type="text" formControlName="displayName"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.email">
                    <div class="error-message"
                      *ngIf="validationsForm.get('displayName').hasError(validation.type) && (validationsForm.get('displayName').dirty || validationsForm.get('displayName').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.email">
                    <div class="error-message"
                      *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-item>
                  <ion-label position="floating">Senha</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.password">
                    <div class="error-message"
                      *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-row padding justify-content-center class="center">
                  <ion-col align-self-center size-md="12" size-lg="10" size-xs="12">
                    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validationsForm.valid">
                      Registrar</ion-button>
                    <ion-button expand="block" (click)="goLoginPage()">Voltar</ion-button>
                  </ion-col>
                </ion-row>
                <label class="error-message">{{errorMessage}}</label>
                <label class="success-message">{{successMessage}}</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <!-- </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-content>