.text-center {
  text-align: center;
}

.pad-top-bot-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}